body {
  font-family: "Roboto Mono", monospace;
}
.h1 {
  font-weight: 700 !important;
  font-family: "Roboto Slab", serif;
}
b{
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
}
p{
   font-size: 12px;
}
.smalll{
  font-size: 12px;

}
.mtb {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar1 {
  font-family: "Roboto Slab", serif;
z-index: 2;
  position: absolute;
 
  color: white;
  background-color: rgb(47, 146, 234);
}

.bg_img {
  background-image: url(../img/h1.jpeg);
  height: 400px;
  -webkit-filter: grayscale(60%);

}
.headline{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 50px;
  background-color:rgb(122, 170, 241) ;
  padding: 10px;
  box-shadow: 5px 5px 5px gray;
}
.heading {
  font-family: Arial, Helvetica, sans-serif;
}

.li_he {
  line-height: 15px;
}
.fle {
  float: right;
}
.fri {
  float: left;
}
.left_box {
  background-color: rgb(155, 204, 247);
  color: white;
  font-family: "Roboto Slab", serif;
}
.mid_line {
  left: 50;
  width: 2px;
  position: relative;
  background-color: rgb(155, 204, 247);
}
.vs {
  position: absolute;
  background-color: black;
  color: white;
  border-radius: 50%;
  left: -15px;
  font-family: "Roboto Slab", serif;
}
.right_box {
  background-color: rgb(47, 146, 234);
  color: white;
  font-family: "Roboto Slab", serif;
}

.flexx {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "Roboto Slab", serif;
}

.box2 {
  position: relative;
  /* text-align: center; */
}
.round_box {
  /* top: -25%; */
  left: 35%;
  position: absolute;
  background-color: rgb(155, 204, 247);
  border-radius: 50%;
  padding: 10px;
}
.square_box {
  padding: 10px;
  /* position: absolute; */
  background-color: rgb(47, 146, 234);
  width: 22rem;
  height: 200px;
  padding-top: 50px;
  color: white;
}
.card-title{
font-weight: 700;
}
.img_box {
  position: relative;
  color:rgb(47, 146, 234);
}
.text_top_left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.text_top_right {
  position: absolute;
  top: 10px;
  right: 10px;
}
.text_bottom_left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.text_bottom_right {
  position: absolute;
  bottom: 2px;
  right: 2px;
  background-color: white;
  padding: 5px;
}
.text_center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex2{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
